<table>
  <tbody>
    <tr>
      <td width="168">
        <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">
          <img src="https://storage.googleapis.com/es-resources/images/es-logo.png" alt="Embedded Image" />
        </span>
      </td>
      <td width="455">
        <p>
          <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">Payment Request for Order: {{.Trxno}}</span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <br>
</p>
<p>Dear {{.Custname}},</p>
<p>Thank you for shopping with Easyshop. Your order has been confirmed by our admin and the status of your order now is: “Waiting for Payment”. Please check the details of your order below and make your payment to our official bank account below. If you want to change/add anything to your order, please contact our admin by email or WhatsApp.</p>
<p>
  <br>
</p>
<p>
  <tbody>
    {{ range .Orderd}}
      <tr>
      <td style="color:rgb(99,99,99);border:1px solid rgb(229,229,229);padding:12px;text-align:left;vertical-align:middle;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif" align="left">
          {{.Name}}<br><br>
          <!-- <p style="margin:0px 0px 16px">Category: Cosmetics</p> -->
          (#{{.ProductId}})		
      </td>
      <td style="color:rgb(99,99,99);border:1px solid rgb(229,229,229);padding:12px;text-align:left;vertical-align:middle;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif" align="left">
          {{.Qty}}		
      </td>
      <td style="color:rgb(99,99,99);border:1px solid rgb(229,229,229);padding:12px;text-align:left;vertical-align:middle;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif" align="left">
          <span><span>¥</span>{{.Subtotal}}</span>		
      </td>
      </tr>
    {{ end}}
  </tbody>
</p>
<p>
  <br>
</p>
<p>Easyshop official bank details:</p>
<ul>
  <li>
    <strong>For payment with Indonesia Rupiah (IDR):</strong>
  </li>
</ul>
<p style="padding-left:80px">- Bank BCA 2533402500&nbsp; A/N PT ELNA CITRA INDONESIA</p>
<p style="padding-left:80px">- Bank BNI 5162051023&nbsp; A/N PT ELNA CITRA INDONESIA</p>
<p style="padding-left:80px">- Bank Mandiri 1650005105169 A/N PT ELNA CITRA INDONESIA</p>
<ul>
  <li>
    <strong>For payment with Japanese Yen (JPY):</strong>
  </li>
</ul>
<p style="padding-left:80px">Bank Name: GMO Aozora Net Bank or GMOあおぞらネット銀行 (Code: 0310)</p>
<p style="padding-left:80px">Recipient account type: business account</p>
<p style="padding-left:80px">Account Name: ゴウドウカイシャイージーショップ</p>
<p style="padding-left:80px">Branch Name:&nbsp; 法人営業部 (101)</p>
<p style="padding-left:80px">Account type:　普通 or futsuu or ordinary savings</p>
<p style="padding-left:80px">Account number: 1179437</p>
<p style="padding-left:80px">Bank address: Tokyo-To Shibuya-Ku Dougenzaka 1-2-3 , 150-0043 Japan</p>
<p>
  <strong>&nbsp;</strong>
</p>
<ul>
  <li>
    <strong>For payment with PayPal:</strong>
  </li>
</ul>
<p style="padding-left:80px">Please contact our admin and we will issue a payment request.</p>
<p>
  <br>
</p>
<p>Please upload your proof of payment to our application so we can proceed to process your order.</p>
<p>Please contact our admin or send us an email if you have any inquiries.</p>
<p>Phone: (+81) 70-8331-9095</p>
<p>Email: <a href="mailto:tokyo@easyshop-jp.com" target="_blank">tokyo@easyshop-jp.com</a>
</p>
<p>
  <br>
</p>
<p>Thank you for shopping with us,</p>
<p>
  <a href="http://www.easyshop-jp.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.easyshop-jp.com&amp;source=gmail&amp;ust=1693383721449000&amp;usg=AOvVaw1qy8TdbAyZCsEKD09QgceC">www.easyshop-jp.com</a>
</p>