<table style="width:71.9298%">
    <tbody>
      <tr>
        <td style="width:29.9342%">
          <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">
            <img src="https://storage.googleapis.com/es-resources/images/es-logo.png" alt="Embedded Image" />
          </span>
        </td>
        <td style="width:68.1554%">
          <p>
            <span style="font-weight:400;font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">Proof of Payment Upload Received on {{.Trxdate}}</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <p>
    <span style="font-weight:400">Dear Customer,</span>
  </p>
  <p>
    <span style="font-weight:400">Thank you for shopping with Easyshop. This email confirms that we have received your proof of payment upload on {{.Trxdate}}. Our admin will conduct verification.</span>
  </p>
  <p>
    <span style="font-weight:400">We will process your order and update its status through our application and communication from our admin.</span>
  </p>
  <p>
    <span style="font-weight:400">Please contact our admin or send us an email if you have any inquiries.</span>
  </p>
  <p>
    <span style="font-weight:400">Phone: (+81) 70-8331-9095</span>
  </p>
  <p>
    <span style="font-weight:400">Email: </span>
    <a href="mailto:tokyo@easyshop-jp.com" target="_blank">
      <span style="font-weight:400">tokyo@easyshop-jp.com</span>
    </a>
  </p>
  <p>
    <span style="font-weight:400">Thank you for shopping with us,</span>
  </p>
  <p>
    <span style="font-weight:400">
      <a href="http://www.easyshop-jp.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.easyshop-jp.com&amp;source=gmail&amp;ust=1693735220653000&amp;usg=AOvVaw3tUBpdvqv4PNUwcXpv_W06">www.easyshop-jp.com</a>
    </span>
  </p>