<table>
    <tbody>
      <tr>
        <td width="168">
          <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">
            <img src="https://storage.googleapis.com/es-resources/images/es-logo.png" alt="Embedded Image" />
          </span>
        </td>
        <td width="456">
          <p>
            <span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">New Order: {{.Trxno}}</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>Dear {{.Custname}},</p>
  <p>Thank you for shopping with Easyshop. Below are your order details, please check and keep this email as reference. If you want to change/add anything to your order, please contact our admin by email or WhatsApp.</p>
  <p>
    <br>
  </p>
  <p>
    <tbody>
        {{ range .Orderd}}
         <tr>
            <td style="color:rgb(99,99,99);border:1px solid rgb(229,229,229);padding:12px;text-align:left;vertical-align:middle;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif" align="left">
               {{.Name}}<br><br>
               <!-- <p style="margin:0px 0px 16px">Category: Cosmetics</p> -->
               (#{{.ProductId}})		
            </td>
            <td style="color:rgb(99,99,99);border:1px solid rgb(229,229,229);padding:12px;text-align:left;vertical-align:middle;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif" align="left">
               {{.Qty}}		
            </td>
            <td style="color:rgb(99,99,99);border:1px solid rgb(229,229,229);padding:12px;text-align:left;vertical-align:middle;font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif" align="left">
               <span><span>¥</span>{{.Subtotal}}</span>		
            </td>
         </tr>
         {{ end}}
      </tbody>
  </p>
  <p>
    <br>
  </p>
  <p>We will process your order and update its status through our application and communication from our admin.</p>
  <p>Please contact our admin or send us an email if you have any inquiries.</p>
  <p>Phone: (+81) 70-8331-9095</p>
  <p>Email: <a href="mailto:tokyo@easyshop-jp.com" target="_blank">tokyo@easyshop-jp.com</a>
  </p>
  <p>
    <br>
  </p>
  <p>
    <br>
  </p>
  <p>
    <br>
  </p>
  <p>Thank you for shopping with us,</p>
  <p>
    <a href="http://www.easyshop-jp.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.easyshop-jp.com&amp;source=gmail&amp;ust=1693557199171000&amp;usg=AOvVaw0UtPnCqjvbvBS_4zP2j5fg">www.easyshop-jp.com</a>
  </p>