<tbody>
    <tr>
      <td valign="top" style="border:none;padding:0mm">
        <div align="center">
          <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:600px;background:rgb(150,88,138)">
            <tbody>
              <tr>
                <td style="padding:27pt 36pt">
                  <p class="MsoNormal" align="left" style="margin:0mm;line-height:33.75pt;font-size:10.5pt;font-family:游明朝,serif">
                    <span lang="EN-US" style="font-size:18pt;font-family:Helvetica,sans-serif;color:white">Partnership request received on&nbsp;</span>
                    <span lang="EN-US" style="font-size:18pt;font-family:Helvetica,sans-serif;">
                      <font color="#FFFFFF">{{.Trxdate}}</font>
                    </span>
                    <span lang="EN-US" style="font-size:22pt;font-family:Helvetica,sans-serif"></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top" style="border:none;padding:0mm">
        <div align="center">
          <table border="0" cellspacing="0" cellpadding="0" width="600" style="width:450pt">
            <tbody>
              <tr>
                <td valign="top" style="background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0mm">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:600px">
                    <tbody>
                      <tr>
                        <td valign="top" style="padding:36pt 36pt 24pt">
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span lang="EN-US" style="font-family:Helvetica,sans-serif;color:black;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial">Dear&nbsp;&nbsp;</span>
                            <span lang="EN-US" style="font-family:Helvetica,sans-serif;color:black;">{{.Name}}</span>
                            <span lang="EN-US" style="font-family:Helvetica,sans-serif;color:black">&nbsp;</span>
                            <span lang="EN-US" style="font-family:Helvetica,sans-serif;color:rgb(99,99,99)">Thank you for shopping with easyshop. This&nbsp;email confirms that we received your partnership request on&nbsp; <span>{{.Trxdate}}</span>&nbsp; Our admin will check information from your request and get back to you if we need additional information.&nbsp; </span>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span style="color:rgb(99,99,99);font-family:Helvetica,sans-serif;font-size:10.5pt">Details of your partnership request</span>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span style="color:rgb(99,99,99);font-family:Helvetica,sans-serif;font-size:10.5pt">Email: {{.Email}}&nbsp;</span>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span style="color:rgb(99,99,99);font-family:Helvetica,sans-serif;font-size:10.5pt">Name: {{.Name}}</span>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span style="color:rgb(99,99,99);font-family:Helvetica,sans-serif;font-size:10.5pt">Social media link: {{.Social}}</span>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span style="color:rgb(99,99,99);font-family:Helvetica,sans-serif;font-size:10.5pt">Phone number : {{.Phone}}</span>
                            <br>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span lang="EN-US" style="font-size:10.5pt;font-family:Helvetica,sans-serif;color:rgb(99,99,99)">&nbsp;</span>
                            <span style="font-size:10.5pt;font-family:Helvetica,sans-serif;color:rgb(99,99,99)">Please </span>
                            <font face="arial, sans-serif" style="font-size:10.5pt">
                              <span style="color:rgb(99,99,99);font-size:10.5pt">contact our admin or send&nbsp;</span>us an email <span style="color:rgb(99,99,99);font-size:10.5pt">&nbsp;if you have any inquiries.</span>
                            </font>
                            <br>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span style="font-size:10.5pt;font-family:Helvetica,sans-serif;color:rgb(99,99,99)">
                              <br>
                            </span>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span style="font-size:10.5pt;font-family:Helvetica,sans-serif;color:rgb(99,99,99)">thank you</span>
                          </p>
                          <p class="MsoNormal" align="left" style="margin:0mm 0mm 12pt;line-height:15.75pt;font-size:10.5pt;font-family:游明朝,serif">
                            <span style="font-size:10.5pt;font-family:Helvetica,sans-serif;color:rgb(99,99,99)">easyshop</span>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>