
<div style="background-color: blue; color: white;">REQUEST ORDER RECEIVED EMAIL</div>
<table>
<tbody>
<tr>
<td width="162"><span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=8c9b827e95&amp;attid=0.1.1&amp;permmsgid=msg-f:1775465625706467706&amp;th=18a3b8946b26917a&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-KyxBtQqbjSRilnlLimQbHuS432HT3fpVahVjoQiijqAFKcrP1lHB6_fOAa3_wRfVmAoWHk9PKon973n88klcAGwSNdVHrNilmtYsog1UDr_xXisHvtjUU8QM&amp;disp=emb" alt="" data-image-whitelisted="" class="CToWUd" data-bit="iit"></span></td>
<td width="461">
<p><span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">Request Order Received on &lt;date&gt;</span></p>
</td>
</tr>
</tbody>
</table>
<p>Dear Customer,</p>
<p>Thank you for shopping with Easyshop. This email confirms that we have received your request order on &lt;request order date&gt;. Our admin will check information from your link and if everything is going well, we will inform you by email so you can proceed to purchase your item in our application.</p>
<p><br></p>
<p>Customer email: &lt;customer email&gt;</p>
<p><br></p>
<p>Request order link:</p>
<p>&lt;request order link&gt;</p>
<p><br></p>
<p>Please contact our admin or send us an email if you have any inquiries.</p>
<p>Phone: (+81) 70-8331-9095</p>
<p>Email: <a href="mailto:tokyo@easyshop-jp.com" target="_blank">tokyo@easyshop-jp.com</a></p>
<p><br></p>
<p>Thank you for shopping with us,</p>
<p><a href="http://www.easyshop-jp.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.easyshop-jp.com&amp;source=gmail&amp;ust=1693302519967000&amp;usg=AOvVaw1iieqfAqGNMms7rexGiBL9">www.easyshop-jp.com</a></p>