<table style="width:78.7471%;height:38px">
    <tbody>
    <tr style="height:38px">
    <td style="width:26.7091%;height:38px" width="168"><span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt"><img src="https://storage.googleapis.com/es-resources/images/es-logo.png" alt="Embedded Image" /></span></td>
    <td style="width:72.337%;height:38px" width="455">
    <p><span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">Request Order Approved on {{.Trxdate}}</span></p>
    </td>
    </tr>
    </tbody>
    </table>
    <p><br></p>
    <p>Dear Customer,</p>
    <p>Thank you for shopping with Easyshop. This email confirms that we have received your request order on {{.Trxdate}}.</p>
    <p><br></p>
    <p>Request order link: {{.Reqlink}} is approved.</p>
    <p><br></p>
    <p>Please proceed to order the item by clicking the “Available” icon and add it to your cart.</p>
    <p>Please contact our admin or send us an email if you have any inquiries.</p>
    <p>Phone: (+81) 70-8331-9095</p>
    <p>Email: <a href="mailto:tokyo@easyshop-jp.com" target="_blank">tokyo@easyshop-jp.com</a></p>
    <p><br></p>
    <p>Thank you for shopping with us,</p>
    <p><a href="http://www.easyshop-jp.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.easyshop-jp.com&amp;source=gmail&amp;ust=1693735220653000&amp;usg=AOvVaw3tUBpdvqv4PNUwcXpv_W06">www.easyshop-jp.com</a></p>