<table>
    <tbody>
    <tr>
    <td width="162"><span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt"><img src="https://storage.googleapis.com/es-resources/images/es-logo.png" alt="Embedded Image" /></span></td>
    <td width="461">
    <p><span style="font-family:tahoma,arial,helvetica,sans-serif;font-size:18pt">Request Order Received on {{.Trxdate}}</span></p>
    </td>
    </tr>
    </tbody>
    </table>
    <p>Dear Customer,</p>
    <p>Thank you for shopping with Easyshop. This email confirms that we have received your request order on {{.Trxdate}}. Our admin will check information from your link and if everything is going well, we will inform you by email so you can proceed to purchase your item in our application.</p>
    <p><br></p>
    <p>Customer email: {{.Email}}</p>
    <p><br></p>
    <p>Request order link:</p>
    <p>{{.Reqlink}}</p>
    <p><br></p>
    <p>Please contact our admin or send us an email if you have any inquiries.</p>
    <p>Phone: (+81) 70-8331-9095</p>
    <p>Email: <a href="mailto:tokyo@easyshop-jp.com" target="_blank">tokyo@easyshop-jp.com</a></p>
    <p><br></p>
    <p>Thank you for shopping with us,</p>
    <p><a href="http://www.easyshop-jp.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.easyshop-jp.com&amp;source=gmail&amp;ust=1693735220653000&amp;usg=AOvVaw3tUBpdvqv4PNUwcXpv_W06">www.easyshop-jp.com</a></p>